.cartwidget{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5cb5b;
    border-radius: 1rem;
    gap: .5rem;
    width: 4.5rem;
    height: 3rem;
}

.img{
    width: 2rem;
    height: 2rem;
}
