* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

body{
    background: url(https://i.pinimg.com/564x/48/32/cd/4832cddb74790f912993fd20b68cffad.jpg);
    margin-top: 8rem;
}